.switcher {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 0.835em;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.switcher::after {
  display: block;
  width: 1.55em;
  height: 1.55em;
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  border: 1px solid #c9d1d6;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: all .5s ease-in-out;
}


.on {
  padding-right: 28px;
  background-color: #47cf5f;
}

.off {
  padding-left: 28px;
  background-color: #c2c2c2;
}

.switcher.on::after {
  left: 70%;
}

.disabled {
  cursor: not-allowed;
}

